<!DOCTYPE html>
<html>
  <head>
    <title><%= obj !== undefined ? obj.title : '' %></title>
    <link rel='stylesheet' href="../css/bootstrap.css" />
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link rel='stylesheet' href="../css/all.css" />
    <script src="../js/bootstrap.js"></script>
    <script src="../js/all.js"></script>
    <script src="../js/axios.min.js"></script>
  </head>
  <body>
    <div id="pagenation_div" name="pagenation_div">
    </div>
  </body>
  <script src="../javascripts/util.js"></script>
  <script src="../javascripts/pagenation.js"></script>
</html>