<!DOCTYPE html>
<html>
  <head>
    <title><%= obj !== undefined ? obj.title : '' %></title>
    <link rel='stylesheet' href="../css/bootstrap.css" />
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    
  </body>
  <script src="javascripts/util.js"></script>
  <script>
  </script>
</html>