<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="css/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="js/bootstrap.js"></script>
    
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form class="form-box" id="form">
      <h1 class="form-title">로그인</h1>
      <div class="input-group mb-4 offset-1 col-10">
        <input type="text" class="form-control" id="u_no" name="u_no" placeholder="학번" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-4 offset-1 col-10">
        <input type="password" class="form-control" id="u_pw" name="u_pw" placeholder="비밀번호" aria-label="Password" aria-describedby="basic-addon1">
      </div>
      <div class="btn-one offset-1 mb-4 col-10 ">
        <button type="button" onclick="login()" class="btn btn-primary btn-lg btn-block">로그인</button>
      </div>
      
      <div class="btn-two offset-1 mb-4 col-10">
        <button type="button" onclick="sign_up()" class="btn btn-primary col-5">회원가입</button>
        <button type="button" onclick="find_user()" class="btn btn-primary col-5 ">아이디/패스워드 찾기</button>
      </div>
      
    </form>
  </body>
  <script src="javascripts/util.js"></script>
  <script src="javascripts/index.js"></script>
</html>
