<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="css/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class="form-box" id="form">
      <h1 class="form-title">회원 가입</h1>
      <div class="input-group mb-4 offset-1 col-10">
        <input type="text" class="form-control" name="u_no" id="u_no" placeholder="학번">
      </div>
      <div class="input-group mb-4 offset-1 col-10">
        <input type="text" class="form-control" name="u_name" id="u_name" placeholder="이름">
      </div>
      <div class="input-group mb-4 offset-1 col-10">
        <input type="password" class="form-control" name="u_pw" id="u_pw" placeholder="비밀번호">
      </div>
      <div class="input-group mb-4 offset-1 col-10">
        <input type="email" class="form-control" name="u_email" id="u_email" placeholder="이메일">
        <span class = "input-group-btn">
          <button type="button" onclick="" class="bnt btn-primary btn-sm btn-span btn-block">이메일 인증</button>
        </span>
      </div>
      <div class = "btn-one offset-1 mb-4 col-10">
        <button type="button" onclick="" class="btn btn-primary btn-lg btn-block">회원가입</button>
      </div>
    </form>
  </body>
  <script src="javascripts/util.js"></script>
  <script src="javascripts/index.js"></script>
  <script>
  </script>
</html>
